<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793546-Ariel-Corral-Leon/blob/main/Semana4_Normalizacion_ejemplos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [97]:
import pandas as pd #importación de librerias de pandas
import numpy as np #importación de librerias de numpy

In [98]:
path = 'https://raw.githubusercontent.com/tec03/Datasets/main/datasets/Cartwheeldata.csv' # dirección del documento

In [99]:
path

'https://raw.githubusercontent.com/tec03/Datasets/main/datasets/Cartwheeldata.csv'

In [100]:
df = pd.read_csv(path, index_col=0)
df.index.name= None
df.head(5)

,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
3,33,F,1,Y,1,66.0,64.0,85,Y,1,0
4,39,F,1,N,0,64.0,63.0,87,Y,1,10
5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [101]:
df.columns

Index(['Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup', 'Height',
       'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup', 'Score'],
      dtype='object')

In [102]:
drop = ['Gender', 'Glasses','Complete']
df.drop(columns = drop, inplace=True)

In [103]:
df.head()

,Age,GenderGroup,GlassesGroup,Height,Wingspan,CWDistance,CompleteGroup,Score
1,56,1,1,62.0,61.0,79,1,7
2,26,1,1,62.0,60.0,70,1,8
3,33,1,1,66.0,64.0,85,1,0
4,39,1,0,64.0,63.0,87,1,10
5,27,2,0,73.0,75.0,72,0,4

In [104]:
df.Score.min()

0

In [105]:
df.Score.max()

10

In [106]:
varX = df.Score.head(10) # solo para tener 10 datos en variable

In [107]:
varX

1      7
2      8
3      0
4     10
5      4
6      3
7     10
8      9
9      5
10     8
Name: Score, dtype: int64

## 1. Normalización - Min - Max

Formula:
  $$ s_1^{new} = \cfrac{x_1^{old}-min(varX)/{range(varX)}}$$

## 1. Normalización - Min - Max

Formula:

$$ x_i^{new} = \cfrac{x_i{old}-min(varX)/{range(varX)}$$

In [108]:
## 1. Normalización - Min - Max

Formula:

$$ x_i^{new} = \cfrac{x_i{old}-min(varX)/{range(varX)}$$

$$ x_i^{new} = \cfrac{x_1{old}-min(varX)/{range(varX)}}$$

SyntaxError: ignored

In [ ]:
def normalizarMinMax(x):
  min = np.min(x)
  max= np.max(x)
  range = max - min
  return [(xi - min)/
          range
          for xi in x
          ]

In [ ]:
x = varX.copy()
y = normalizarMinMax(x)
y

In [ ]:
print(min(y))
print(max(y))

In [ ]:
print(min(x))
print(max(x))

Formula: $$ x_i^{new} = x_i{old}*rango_{nuevo} + {}

In [ ]:
y

In [ ]:
min(y)

In [ ]:
max (y)

In [ ]:
def nomalizacionNuevoRango (alist, nLoBound, nUpBound):
  rango = nUpBound - nLoBound
  return [
      xi * rango + nLoBound
      for xi in alist
  ]

In [ ]:
z= nomalizacionNuevoRango(y,10,30)
z

In [ ]:
print(min(z))

In [ ]:
print(max(z))

In [ ]:
max(z)

In [ ]:
varX

In [ ]:
X = varX.copy()

In [ ]:
def NormalizacionaNuevoRango(aList,nLowBound, nUpBound):
  min = np.min(aList)
  max = np.min(aList)
  rango = max - min
  nRango = nUpBound - nLowBound
  return [
      ((xi - min)/rango)*nRango + nLowBound
      for xi in aList
  ]

In [ ]:
z = NormalizacionaNuevoRango(X,100,200)
z

In [ ]:
min(z)

In [ ]:
max(z)