<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793546-Ariel-Corral-Leon/blob/main/Semana4_Normalizacion_ejemplos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #importación de librerias de pandas
import numpy as np #importación de librerias de numpy

In [2]:
path = 'https://raw.githubusercontent.com/tec03/Datasets/main/datasets/Cartwheeldata.csv' # dirección del documento

In [3]:
path

'https://raw.githubusercontent.com/tec03/Datasets/main/datasets/Cartwheeldata.csv'

In [4]:
df = pd.read_csv(path, index_col=0)
df.index.name= None
df.head(5)

,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
3,33,F,1,Y,1,66.0,64.0,85,Y,1,0
4,39,F,1,N,0,64.0,63.0,87,Y,1,10
5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [5]:
df.columns

Index(['Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup', 'Height',
       'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup', 'Score'],
      dtype='object')

In [6]:
drop = ['Gender', 'Glasses','Complete']
df.drop(columns = drop, inplace=True)

In [7]:
df.head()

,Age,GenderGroup,GlassesGroup,Height,Wingspan,CWDistance,CompleteGroup,Score
1,56,1,1,62.0,61.0,79,1,7
2,26,1,1,62.0,60.0,70,1,8
3,33,1,1,66.0,64.0,85,1,0
4,39,1,0,64.0,63.0,87,1,10
5,27,2,0,73.0,75.0,72,0,4

In [8]:
df.Score.min()

0

In [9]:
df.Score.max()

10

In [10]:
varX = df.Score.head(10) # solo para tener 10 datos en variable

In [11]:
varX

1      7
2      8
3      0
4     10
5      4
6      3
7     10
8      9
9      5
10     8
Name: Score, dtype: int64

## 1. Normalización - Min - Max

Formula:
  $$ s_1^{new} = \cfrac{x_1^{old}-min(varX)/{range(varX)}}$$

## 1. Normalización - Min - Max

Formula:

$$ x_i^{new} = \cfrac{x_i{old}-min(varX)/{range(varX)}$$

In [12]:
def normalizarMinMax(x):
  min = np.min(x)
  max= np.max(x)
  range = max - min
  return [(xi - min)/
          range
          for xi in x
          ]

In [13]:
x = varX.copy()
y = normalizarMinMax(x)
y

[0.7, 0.8, 0.0, 1.0, 0.4, 0.3, 1.0, 0.9, 0.5, 0.8]

In [14]:
print(min(y))
print(max(y))

0.0
1.0

In [15]:
print(min(x))
print(max(x))

0
10

Formula: $$ x_i^{new} = x_i{old}*rango_{nuevo} + {}

In [16]:
y

[0.7, 0.8, 0.0, 1.0, 0.4, 0.3, 1.0, 0.9, 0.5, 0.8]

In [17]:
min(y)

0.0

In [18]:
max (y)

1.0

In [19]:
def nomalizacionNuevoRango (alist, nLoBound, nUpBound):
  rango = nUpBound - nLoBound
  return [
      xi * rango + nLoBound
      for xi in alist
  ]

In [20]:
z= nomalizacionNuevoRango(y,10,30)
z

[24.0, 26.0, 10.0, 30.0, 18.0, 16.0, 30.0, 28.0, 20.0, 26.0]

In [21]:
print(min(z))

10.0

In [22]:
print(max(z))

30.0

Formula de un ranto a otro rango

In [41]:
x = varX.copy()

In [49]:
def NormalizaciondeunrantoAotro(aList,LimInferior,LimSuperior):
  min = np.min(aList)
  max = np.max(aList)
  rango = max - min
  nRango = LimSuperior - LimInferior
  return [
      ((xi - min)/rango)*nRango + LimInferior
      for xi in aList
  ]

In [50]:
z= NormalizaciondeunrantoAotro(X,100,200)
z

[170.0, 180.0, 100.0, 200.0, 140.0, 130.0, 200.0, 190.0, 150.0, 180.0]

In [51]:
min(z)

100.0

In [52]:
max(z)

200.0

Normalización a un DataFrame

In [54]:
df

,Age,GenderGroup,GlassesGroup,Height,Wingspan,CWDistance,CompleteGroup,Score
1,56,1,1,62.00,61.0,79,1,7
2,26,1,1,62.00,60.0,70,1,8
3,33,1,1,66.00,64.0,85,1,0
4,39,1,0,64.00,63.0,87,1,10
5,27,2,0,73.00,75.0,72,0,4
6,24,2,0,75.00,71.0,81,0,3
7,28,2,0,75.00,76.0,107,1,10
8,22,1,0,65.00,62.0,98,1,9
9,29,2,1,74.00,73.0,106,0,5
10,33,1,1,63.00,60.0,65,1,8
11,30,2,1,69.50,66.0,96,1,6
12,28,1,1,62.75,58.0,79,1,10
13,25,1,1,65.00,64.5,92,1,6
14,23,1,0,61.50,57.5,66,1,4
15,31,2,1,73.00,74.0,72,1,9
16,26,2,1,71.00,72.0,115,1,6
17,26,1,0,61.50,59.5,90,0,10
18,27,2,0,66.00,66.0,74,1,5
19,23,2,1,70.00,69.0,64,1,3
20,24,1,1,68.00,66.0,85,1,8
21,23,2,1,69.00,67.0,66,0,2
22,29,2,0,71.00,70.0,101,1,8
23,25,2,0,70.00,68.0,82,1,4
24,26,2,0,69.00,71.0,63,1,5
25,23,1,1,65.00,63.0,67,0,3

In [55]:
ndf = df.copy()

In [57]:
ndf.head(10)

,Age,GenderGroup,GlassesGroup,Height,Wingspan,CWDistance,CompleteGroup,Score
1,56,1,1,62.0,61.0,79,1,7
2,26,1,1,62.0,60.0,70,1,8
3,33,1,1,66.0,64.0,85,1,0
4,39,1,0,64.0,63.0,87,1,10
5,27,2,0,73.0,75.0,72,0,4
6,24,2,0,75.0,71.0,81,0,3
7,28,2,0,75.0,76.0,107,1,10
8,22,1,0,65.0,62.0,98,1,9
9,29,2,1,74.0,73.0,106,0,5
10,33,1,1,63.0,60.0,65,1,8

In [58]:
ndf.max()

Age               56.0
GenderGroup        2.0
GlassesGroup       1.0
Height            75.0
Wingspan          76.0
CWDistance       115.0
CompleteGroup      1.0
Score             10.0
dtype: float64

In [60]:
ndfRange = ndf.max()-ndf.min()    
ndfRange

Age              34.0
GenderGroup       1.0
GlassesGroup      1.0
Height           13.5
Wingspan         18.5
CWDistance       52.0
CompleteGroup     1.0
Score            10.0
dtype: float64

In [63]:
ndf=((ndf-ndf.min())/ndfRange.round(2))
ndf

,Age,GenderGroup,GlassesGroup,Height,Wingspan,CWDistance,CompleteGroup,Score
1,1.000000,0.0,1.0,0.037037,0.189189,0.307692,1.0,0.7
2,0.117647,0.0,1.0,0.037037,0.135135,0.134615,1.0,0.8
3,0.323529,0.0,1.0,0.333333,0.351351,0.423077,1.0,0.0
4,0.500000,0.0,0.0,0.185185,0.297297,0.461538,1.0,1.0
5,0.147059,1.0,0.0,0.851852,0.945946,0.173077,0.0,0.4
6,0.058824,1.0,0.0,1.000000,0.729730,0.346154,0.0,0.3
7,0.176471,1.0,0.0,1.000000,1.000000,0.846154,1.0,1.0
8,0.000000,0.0,0.0,0.259259,0.243243,0.673077,1.0,0.9
9,0.205882,1.0,1.0,0.925926,0.837838,0.826923,0.0,0.5
10,0.323529,0.0,1.0,0.111111,0.135135,0.038462,1.0,0.8
11,0.235294,1.0,1.0,0.592593,0.459459,0.634615,1.0,0.6
12,0.176471,0.0,1.0,0.092593,0.027027,0.307692,1.0,1.0
13,0.088235,0.0,1.0,0.259259,0.378378,0.557692,1.0,0.6
14,0.029412,0.0,0.0,0.000000,0.000000,0.057692,1.0,0.4
15,0.264706,1.0,1.0,0.851852,0.891892,0.173077,1.0,0.9
16,0.117647,1.0,1.0,0.703704,0.783784,1.000000,1.0,0.6
17,0.117647,0.0,0.0,0.000000,0.108108,0.519231,0.0,1.0
18,0.147059,1.0,0.0,0.333333,0.459459,0.211538,1.0,0.5
19,0.029412,1.0,1.0,0.629630,0.621622,0.019231,1.0,0.3
20,0.058824,0.0,1.0,0.481481,0.459459,0.423077,1.0,0.8
21,0.029412,1.0,1.0,0.555556,0.513514,0.057692,0.0,0.2
22,0.205882,1.0,0.0,0.703704,0.675676,0.730769,1.0,0.8
23,0.088235,1.0,0.0,0.629630,0.567568,0.365385,1.0,0.4
24,0.117647,1.0,0.0,0.555556,0.729730,0.000000,1.0,0.5
25,0.029412,0.0,1.0,0.259259,0.297297,0.076923,0.0,0.3