<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793546-Ariel-Corral-Leon/blob/main/Semana4_Normalizacion_ejemplos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #importación de librerias de pandas
import numpy as np #importación de librerias de numpy

In [2]:
path = 'https://raw.githubusercontent.com/tec03/Datasets/main/datasets/Cartwheeldata.csv' # dirección del documento

In [3]:
path

'https://raw.githubusercontent.com/tec03/Datasets/main/datasets/Cartwheeldata.csv'

In [4]:
df = pd.read_csv(path, index_col=0)
df.index.name= None
df.head(5)

,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
3,33,F,1,Y,1,66.0,64.0,85,Y,1,0
4,39,F,1,N,0,64.0,63.0,87,Y,1,10
5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [5]:
df.columns

Index(['Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup', 'Height',
       'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup', 'Score'],
      dtype='object')

In [6]:
drop = ['Gender', 'Glasses','Complete']
df.drop(columns = drop, inplace=True)

In [7]:
df.head()

,Age,GenderGroup,GlassesGroup,Height,Wingspan,CWDistance,CompleteGroup,Score
1,56,1,1,62.0,61.0,79,1,7
2,26,1,1,62.0,60.0,70,1,8
3,33,1,1,66.0,64.0,85,1,0
4,39,1,0,64.0,63.0,87,1,10
5,27,2,0,73.0,75.0,72,0,4

In [8]:
df.Score.min()

0

In [9]:
df.Score.max()

10

In [10]:
varX = df.Score.head(10) # solo para tener 10 datos en variable

In [11]:
varX

1      7
2      8
3      0
4     10
5      4
6      3
7     10
8      9
9      5
10     8
Name: Score, dtype: int64

## 1. Normalización - Min - Max

Formula:
  $$ s_1^{new} = \cfrac{x_1^{old}-min(varX)/{range(varX)}}$$

## 1. Normalización - Min - Max

Formula:

$$ x_i^{new} = \cfrac{x_i{old}-min(varX)/{range(varX)}$$

In [12]:
def normalizarMinMax(x):
  min = np.min(x)
  max= np.max(x)
  range = max - min
  return [(xi - min)/
          range
          for xi in x
          ]

In [13]:
x = varX.copy()
y = normalizarMinMax(x)
y

[0.7, 0.8, 0.0, 1.0, 0.4, 0.3, 1.0, 0.9, 0.5, 0.8]

In [14]:
print(min(y))
print(max(y))

0.0
1.0

In [15]:
print(min(x))
print(max(x))

0
10

Formula: $$ x_i^{new} = x_i{old}*rango_{nuevo} + {}

In [16]:
y

[0.7, 0.8, 0.0, 1.0, 0.4, 0.3, 1.0, 0.9, 0.5, 0.8]

In [17]:
min(y)

0.0

In [18]:
max (y)

1.0

In [19]:
def nomalizacionNuevoRango (alist, nLoBound, nUpBound):
  rango = nUpBound - nLoBound
  return [
      xi * rango + nLoBound
      for xi in alist
  ]

In [20]:
z= nomalizacionNuevoRango(y,10,30)
z

[24.0, 26.0, 10.0, 30.0, 18.0, 16.0, 30.0, 28.0, 20.0, 26.0]

In [21]:
print(min(z))

10.0

In [22]:
print(max(z))

30.0

In [23]:
max(z)

30.0

In [24]:
varX

1      7
2      8
3      0
4     10
5      4
6      3
7     10
8      9
9      5
10     8
Name: Score, dtype: int64

In [25]:
X = varX.copy()

In [26]:
def NormalizacionaNuevoRango(aList,nLowBound, nUpBound):
  min = np.min(aList)
  max = np.min(aList)
  rango = max - min
  nRango = nUpBound - nLowBound
  return [
      ((xi - min)/rango)*nRango + nLowBound
      for xi in aList
  ]

In [27]:
z = NormalizacionaNuevoRango(X,100,200)
z

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: RuntimeWarning: divide by zero encountered in long_scalars

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in long_scalars

[inf, inf, nan, inf, inf, inf, inf, inf, inf, inf]

In [28]:
min(z)

inf

In [29]:
max(z)

inf